---
import ParishCouncilLayout from '../../layouts/ParishCouncilLayout.astro'
import Hero from '../../components/ParishCouncilTeamHero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="Our Council Team">
  <Hero />
  <main class="container mx-auto px-6 py-10">
    <div class="grid gap-12 md:grid-cols-3">
      <div class="md:col-span-2">
        <h1 class="text-xl font-bold">Our Council Team</h1>

        <p class="mt-4 font-bold text-black dark:text-white">
          Councillor Jane Ritchie (Chair)<br />
          <span class="italic">
            Old Hall Stables, West Burton, Leyburn, North Yorkshire, DL8 4JY<br />
            Tel:01969 663385
          </span><br />
          <span class="font-normal">Represents Burton-cum-Walden Parish Council on the Upper Dales Health Watch</span>
        </p>
        <p class="mt-4 font-bold text-black dark:text-white">
          Councillor David Dent
          <br />
          <span class="italic"
            >Grange Farm House, West Burton, Leyburn, North Yorkshire, DL8 4JS
            <br />01969 663265
          </span><br />
          <span class="font-normal"
            >Represents Burton-cum-Walden Parish Council on the West Burton Emergency Working Group and the Yorkshire
            Local Councils Association</span
          >
        </p>

        <p class="mt-4 font-bold text-black dark:text-white">
          Councillor Andrew Landau
          <br />
          <span class="italic">
            Fox and Hounds Inn, West Burton, Leyburn North Yorkshire, DL8 4JY<br />
            01969 663111
          </span><br />
          <span class="font-normal"
            >Represents Burton-cum-Walden Parish Council on the West Burton Emergency Working Group</span
          >
        </p>
        <p class="mt-4 font-bold text-black dark:text-white">
          Councillor Sally Sahin
          <br />
          <span class="italic">
            Walden House, West Burton, Leyburn, North Yorkshire, DL8 4JU
            <br />01969 663893
          </span><br />
          <span class="font-normal"
            >Represents Burton-cum-Walden Parish Council on Aysgarth Cemetery Committee and West Burton Village Hall
            Committee</span
          >
        </p>
        <p class="mt-4 font-bold text-black dark:text-white">
          Councillor Victoria Whitehead
          <br />
          <span class="italic"
            >Ashington Farm, West Burton, Leyburn, North Yorkshire, DL8 4JU
            <br />01969 663269
          </span><br />
          <span class="font-normal">Represents Burton-cum-Walden Parish Council on Aysgarth Cemetery Committee</span>
        </p>

        <p class="mt-4 font-bold text-black dark:text-white">
          Richard Nolan (clerk@burtoncumwalden-pc.gov.uk)
          <br />
          <span class="italic"
            >South View, West Burton, Leyburn, North Yorkshire, DL8 4JN
            <br />01969 663419
          </span><br />
        </p>
        <p class="mt-4 font-bold text-black dark:text-white">
          <a href="/documents/2025-26/register-of-interests-2025-05-06.pdf" target="_blank" class="hover:underline">
            Register of Members' Interests</a
          >
        </p>
      </div>
      <aside>
        <h2 class="text-left text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notices<a
              href="/documents/public_notices/public-notice-2025-10-07.pdf"
              target="_blank"
              class="hover:underline"><br />Parish Council Meeting, 7th October 2025</a
            >
          </li>
          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</ParishCouncilLayout>
