---
import ParishCouncilLayout from '../../layouts/ParishCouncilLayout.astro'
import Hero from '../../components/ParishCouncilHero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="Our Monthly and Annual Meetings">
  <Hero />
  <main class="container mx-auto px-6 py-12">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">Our Monthly and Annual Meetings</h2>
        <p class="mt-4">
          The Parish Council usually meets monthly, on the first Tuesday of every month except August, at 7.30 pm in the
          Committee Room of the Village Hall, West Burton.
        </p>
        <p class="mt-4">
          Everyone is welcome to attend. The Council sets aside the first 15 minutes of the meeting to allow anyone who
          wants to, the opportunity to talk to the Council about anything that is of concern.
        </p>
        <p class="mt-4">
          A Public Notice of the agenda for the next meeting of Burton-cum-Walden Parish Council is usually published
          six days before the meeting, which is generally held on the first Tuesday of each month, except in August.
        </p>
        <p class="mt-4">
          Unless otherwise notified, all meetings take place in the Committee Room of West Burton Village Hall starting
          at 7.30 pm.
        </p>
        <p class="mt-4">
          A copy of this Public Notice is placed on the Notice Board which is located next to the Old Smithy on the
          Village Green, West Burton.
        </p>
        <p class="mt-4">
          The Annual Parish Meeting is open to all residents of the Parish and is usually held towards the end of April
          in the Village Hall in West Burton. This meeting usual starts at 7.30 pm.
        </p>
      </div>
      <aside>
        <h2 class="text-left text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notice<a
              href="/documents/public_notices/public-notice-2025-05-06.pdf"
              target="_blank"
              class="hover:underline"><br />Annual Parish Council Meeting, 6th May 2025</a
            >
          </li>
          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</ParishCouncilLayout>
