---
import ParishCouncilLayout from '../../layouts/ParishCouncilLayout.astro'
import Hero from '../../components/ParishCouncilHero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="Council Minutes">
  <Hero />
  <main class="container px-6 py-10 mx-auto">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">Monthly Parish Council Minutes</h2>
        <p class="mt-4">Please click on the links below to view the minutes.</p>
        <ul class="pl-5 mt-4">
          <li><a href="/documents/minutes-2025-09-02.pdf" target="_blank">Monthly PCM, minutes 2nd September 2025</a></li>
          <li><a href="/documents/minutes-2025-07-08.pdf" target="_blank">Monthly PCM, minutes 8th July 2025</a></li>
          <li><a href="/documents/minutes-2025-06-03.pdf" target="_blank">Monthly PCM, minutes 3rd June 2025</a></li>
          <li><a href="/documents/minutes-2025-05-06.pdf" target="_blank">Monthly PCM, minutes 6th May 2025</a></li>
          <li><a href="/documents/minutes-2025-04-01.pdf" target="_blank">Monthly PCM, minutes 1 April 2025</a></li>
          <li><a href="/documents/minutes-2024-03-05.pdf" target="_blank">Monthly PCM, minutes 5th March 2025</a></li>
          <li>
            <a href="/documents/minutes-2025-02-04.pdf" target="_blank">Monthly PCM, minutes 4th February 2025</a>
          </li>
          <li><a href="/documents/minutes-2025-01-07.pdf" target="_blank">Monthly PCM, minutes 7th January 2025</a></li>
          <li>
            <a href="/documents/minutes-2024-12-03.pdf" target="_blank">Monthly PCM, minutes 3rd December 2024</a>
          </li>
          <li>
            <a href="/documents/minutes-2024-11-05.pdf" target="_blank">Monthly PCM, minutes 5th November 2024</a>
          </li>
          <li><a href="/documents/minutes-2024-10-01.pdf" target="_blank">Monthly PCM, minutes 1st October 2024</a></li>
        </ul>
        <!-- <h2 class="text-xl font-bold">Annual Parish Council Meeting minutes</h2>
        <ul class="pl-5 mt-4 list-disc">
          <li><a href="/documents/minutes-2024-04-23.pdf">APM 23rd April 2024</a></li>
          <li><a href="/documents/minutes-2023-04-25.pdf">APM 25th April 2023</a></li>
        </ul> -->
      </div>
      <aside>
        <h2 class="text-xl font-bold text-left">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notices<a
              href="/documents/public_notices/public-notice-2025-10-07.pdf"
              target="_blank"
              class="hover:underline"><br />Parish Council Meeting, 7th October 2025</a
            >
          </li>
          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</ParishCouncilLayout>
