---
import ParishCouncilLayout from '../../layouts/ParishCouncilLayout.astro'
import Hero from '../../components/ParishCouncilHero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="Minutes of Our Monthly and Annual Meetings">
  <Hero />
  <main class="container mx-auto px-6 py-10">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">Minutes of our Monthly and Annual Meetings</h2>
        <p class="mt-4 text-gray-700">Please click on the following links to download our newsletters:</p>
        <p class="mt-4 text-gray-700"></p>
        <ul class="my-4 list-inside list-disc">
          <li>Newsletter issue 66, September 2024</li>
          <li>Newsletter issue 65, April 2024</li>
          <li>Newsletter issue 64, February 2024</li>
          <li>Newsletter issue 63, September 2023</li>
          <li>Newsletter issue 62, April 2023</li>
          <li>Newsletter issue 61, January 2023</li>
          <li>Newsletter issue 60, October 2022</li>
        </ul>
        <p class="mt-4 text-gray-700"></p>
        <p class="mt-4 text-gray-700"></p>
      </div>
      <!-- <aside>
        <h2 class="text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li><a href="#" class="hover:underline">Recipe Book</a></li>
          <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li>
        </ul>
      </aside> -->
    </div>
  </main>
</ParishCouncilLayout>
