---
import ParishCouncilLayout from '../../layouts/ParishCouncilLayout.astro'
import Hero from '../../components/ParishCouncilHero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="Our Council Team">
  <Hero />
  <main class="container px-6 py-10 mx-auto">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">Our Council Team</h2>
        <p class="mt-4 text-black-900">
          Councillor Jane Ritchie (Chair)<br />
          <span class="italic">
            Old Hall Stables, West Burton, Leyburn, North Yorkshire, DL8 4JY<br />
            Tel:01969 663385
          </span>
        </p>
        <p class="mt-4 text-black-700"></p>

        Councillor David Dent Grange Farm House, West Burton, Leyburn, North Yorkshire, DL8 4JS 01969 663265 Councillor
        Andrew Landau Fox and Hounds Inn, West Burton, Leyburn North Yorkshire, DL8 4JY 01969 663111 Councillor Sally
        Sahin Walden House, West Burton, Leyburn, North Yorkshire, DL8 4YU 01969 663893 Councillor Victoria Whitehead
        Ashington Farm, West Burton, Leyburn, North Yorkshire, DL8 4JU 01969 663269 Sue Ryding (Clerk) Long Farthings,
        West Burton, Leyburn, North Yorkshire, DL8 4JX 01969 663551

        <p class="mt-4 text-black"></p>
        <p class="mt-4 text-black"></p>
      </div>
      <!-- <aside>
        <h2 class="text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li><a href="#" class="hover:underline">Recipe Book</a></li>
          <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li>
        </ul>
      </aside> -->
    </div>
  </main>
</ParishCouncilLayout>
