---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="GDPR">
  <Hero />
  <main class="container mx-auto px-6 py-10">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">GDPR and Privacy Policy</h2>
        <p class="mt-4">
          Burton-cum-Walden is a civil parish located in the Richmondshire District of North Yorkshire. This privacy
          policy will explain how we use the data we collect from you when you use our website.
        </p>
        <h3 class="mt-4 text-lg font-bold">Topics</h3>
        <p class="mt-4">
          <span class="font-bold text-gray-700">What data do we collect?</span><br />
          We do not collect any personally identifiable data on this website. We do collect data which identifies general
          information such as the browser you use and the time and date of access.
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">What are cookies?</span><br />
          Cookies are very small text files placed on your computer to collect standard internet log information and visitor
          behavior information. When you visit our websites, we may collect information from you automatically through cookies
          or similar technology. For further information, visit
          <a href="https://allaboutcookies.org" target="_blank" rel="noreferrer noopener">allaboutcookies.org.</a>
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">How do we use cookies?</span><br />
          We uses cookies in a range of ways to improve your experience on our website, including:
          <ul class="mt-2 list-inside list-disc">
            <li>Keeping our editors and site admin signed in;</li>
            <li>Understanding how you use our website.</li>
          </ul>
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">What types of cookies do we use?</span><br />
          There are a several different types of cookies, however, our website uses only functional cookies which are necessary
          for the website to work properly.
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">How to manage cookies</span><br />
          You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your
          browser. However, in a few cases, some of our website features may not function as a result.
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">Privacy policies of other websites</span><br />
          The Parish Council website may contain links to other websites. Our privacy policy applies only to our website,
          so if you click on a link to another website, you should read their privacy policy
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">Changes to our privacy policy</span><br />
          This privacy policy is kept under regular review and places any updates on this web page. This privacy policy was
          last updated on 20th March 2025.
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">How to contact us</span><br />
          If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one
          of your data protection rights, please do not hesitate to contact us:
          <ul class="mt-2 list-inside list-none">
            <li>Email: <a href="mailto:clerk@burtoncumwalden-pc.gov.uk">clerk@burtoncumwalden-pc.gov.uk</a>;</li>
          </ul>
        </p>
        <p class="mt-4">
          <span class="font-bold text-gray-700">How to contact the appropriate authority</span><br />
          Should you wish to report a complaint or if you feel that we have not addressed your concern in a satisfactory
          manner, you may contact the Information Commissioner's Office on 0303 123 1113.
        </p>
      </div>
      <aside>
        <h2 class="text-left text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notices<a
              href="/documents/public_notices/public-notice-2025-05-06.pdf"
              target="_blank"
              class="hover:underline"><br />Parish Council Meeting, 4th November 2025</a
            >
          </li>
          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</DefaultLayout>
