---
import DefaultLayout from '../layouts/DefaultLayout.astro'
// import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <main class="container px-6 py-10 mx-auto">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">Welcome to West Burton, North Yorkshire</h2>
        <p class="mt-4 text-gray-700">
          West Burton is considered to be one of the most beautiful villages in the Yorkshire Dales National Park with a
          large village green and no through road...
        </p>
        <p class="mt-2 text-gray-700">
          The village has a real sense of community, with a small shop, a tearoom, a pub, and a family-run butcher’s
          shop...
        </p>
        <p class="mt-2 text-gray-700">
          There is evidence of Iron Age settlements to be found in the Parish, though the first dwellings on the site of
          the present village were built during the 17th and 18th centuries...
        </p>
      </div>
      <!-- <aside>
        <h2 class="text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li><a href="#" class="hover:underline">Recipe Book</a></li>
          <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li>
        </ul>
      </aside> -->
    </div>
  </main>
</DefaultLayout>
