---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="GDPR">
  <Hero />
  <main class="container mx-auto px-6 py-10">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">GDPR</h2>
        <p class="mt-4 text-gray-700"></p>
        <p class="mt-4 text-gray-700"></p>
        <p class="mt-4 text-gray-700"></p>
        <p class="mt-4 text-gray-700"></p>
        <p class="mt-4 text-gray-700"></p>
      </div>
      <!-- <aside>
        <h2 class="text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li><a href="#" class="hover:underline">Recipe Book</a></li>
          <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li>
        </ul>
      </aside> -->
    </div>
  </main>
</DefaultLayout>
