---
import DefaultLayout from '../layouts/DefaultLayout.astro'
// import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Holiday Accommodation">
  <!-- <Hero /> -->
  <main class="container px-6 py-10 mx-auto">
    <section>
      <article>
        <p class="mb-4">
          West Burton and Walden, are blessed with fine views, fine walking a and fine selection of short-stay
          accommodation. For local accommodation enquiries, please visit the following links:
        </p>
        <p class="mb-4"><a href="http://www.wensleydale.uk.com/" target="_blank">Mile House Farm Country Cottage</a></p>
        <p class="mb-4">
          <a href="https://www.sykescottages.co.uk/yorkshire-dales-cottages.html/" target="_blank">Sykes Cottages</a>
        </p>
        <p class="mb-4">
          <a href="https://www.countryhideaways.co.uk/" target="_blank">Country Hideaways</a>
        </p>
        <p class="mb-4">
          <a href="https://www.cottageinthedales.co.uk/" target="_blank">Cottage in the Dales</a>
        </p>
      </article>
    </section>
  </main>
</DefaultLayout>
