---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <main class="container px-6 py-10 mx-auto">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold">Welcome to West Burton, North Yorkshire</h2>
        <p class="mt-4">
          West Burton is considered to be one of the most beautiful villages in the Yorkshire Dales National Park with a
          large village green and no through road.
        </p>
        <p class="mt-4">
          The village has a real sense of community, with a small shop and tearoom, a pub and a family-run butcher's
          shop. There is also plenty for the visitor to see and do. As well as The Old Smithy Antiques, there are miles
          of footpaths for walks of all abilities, from easy to strenuous. Afterwards, you can relax at the Fox and
          Hounds Inn. A wide variety of different types of accommodation is available to rent both in the village and
          the surrounding area.
        </p>
        <p class="mt-4">
          For art lovers, within the village is the West Burton Cauldron Falls one of the waterfalls drawn by Turner
          during his tour of the North of England. It's frequently listed as one of the loveliest waterfalls in North
          Yorkshire.
        </p>
        <p class="mt-4">
          There is evidence of Iron Age settlements to be found in the Parish, though the first dwellings on the site of
          the present village were probably Saxon. The Domesday Book - referring to it as Burton - records it as a
          relatively small community. Most of today's buildings were built between the late 18th and late 19th centuries
          when West Burton was a thriving market town, based on mining rather than agriculture, but with a large number
          of service businesses. The structure of the Parish has remained largely unchanged since then.
        </p>
        <p class="mt-4">
          For more information on the history of the area please see "<a href="/history-of-west-burton/"
            >History of West Burton</a
          >."
        </p>
      </div>
      <aside>
        <h2 class="text-xl font-bold text-left">Latest News</h2>
        <ul class="mt-4 space-y-2">
          <!-- <li>
            Public Notices<a href="/documents/public_notices/agenda-apm-2025.pdf" target="_blank" class="hover:underline"
              ><br />Parish Council Meeting, 7th October 2025</a
            >
          </li> -->

          <li>
            Public Notices<a
              href="/documents/public_notices/public-notice-2025-10-07.pdf"
              target="_blank"
              class="hover:underline"><br />Parish Council Meeting, 7th October 2025</a
            >
          </li>

          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</DefaultLayout>
