---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
---

<DefaultLayout title="IT Policy">
  <Hero />
  <main class="container px-6 py-10 mx-auto">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h2 class="text-xl font-bold text-center">Burton-cum-Walden Parish Council<br>
          IT Policy<br>
          Date of adoption: 7 October 2025<br>
          Review date: October 2026
        </h2>

        <h3 class="mt-6 text-lg font-bold">1. Introduction</h3>
        <p class="mt-4">
          Burton-cum-Walden Parish Council recognises the importance of effective and secure information technology (IT) and email usage in supporting its business, operations, and communications.</p>
          <p class="mt-4">This policy outlines the guidelines and responsibilities for the appropriate use of IT resources and email by council members, employees, volunteers, and contractors.
        </p>

        <h3 class="mt-6 text-lg font-bold">2. Scope</h3>
        <p class="mt-4">
          This policy applies to all individuals who use Burton-cum-Walden Parish Council's IT resources, including computers, networks, software, devices, data, and email accounts.
        </p>

        <h3 class="mt-6 text-lg font-bold">3. Acceptable use of IT resources and email</h3>
        <p class="mt-4">
          Burton-cum-Walden Parish Council IT resources and email accounts are to be used for official council-related activities and tasks. Limited personal use is permitted, provided it does not interfere with work responsibilities or violate any part of this policy. All users must adhere to ethical standards, respect copyright and intellectual property rights, and avoid accessing inappropriate or offensive content.
        </p>

        <h3 class="mt-6 text-lg font-bold">4. Device and software usage</h3>
        <p class="mt-4">
          Where possible, authorised devices, software, and applications will be provided by Burton-cum-Walden Parish Council for work-related tasks.
        </p>
        <p class="mt-4">
          Unauthorised installation of software on authorised devices, including personal software, is strictly prohibited due to security concerns.
        </p>

        <h3 class="mt-6 text-lg font-bold">5. Data management and security</h3>
        <p class="mt-4">
          All sensitive and confidential Burton-cum-Walden Parish Council data should be stored and transmitted securely using approved methods. Regular data backups should be performed to prevent data loss, and secure data destruction methods should be used when necessary.
        </p>

        <h3 class="mt-6 text-lg font-bold">6. Network and internet usage</h3>
        <p class="mt-4">
          Burton-cum-Walden Parish Council's network and internet connections should be used responsibly and efficiently for official purposes. Downloading and sharing copyrighted material without proper authorisation is prohibited.
        </p>

        <h3 class="mt-6 text-lg font-bold">7. Email communication</h3>
        <p class="mt-4">
          Email accounts provided by Burton-cum-Walden Parish Council are for official communication only. Emails should be professional and respectful in tone. Confidential or sensitive information must not be sent via email unless it is encrypted.
        </p>
        <p class="mt-4">
          Be cautious with attachments and links to avoid phishing and malware. Verify the source before opening any
          attachments or clicking on links.
        </p>

        <h3 class="mt-6 text-lg font-bold">8. Password and account security</h3>
        <p class="mt-4">
          Burton-cum-Walden Parish Council users are responsible for maintaining the security of their accounts and passwords. Passwords should be strong and not shared with others. Regular password changes are encouraged to enhance security.
        </p>

        <h3 class="mt-6 text-lg font-bold">9. Mobile devices and remote Work</h3>
        <p class="mt-4">
          Mobile devices provided by Burton-cum-Walden Parish Council should be secured with passcodes and/or biometric authentication. When working remotely, users should follow the same security practices as if they were in the office.
        </p>

        <h3 class="mt-6 text-lg font-bold">10. Email monitoring</h3>
        <p class="mt-4">
          Burton-cum-Walden Parish Council reserves the right to monitor email communications to ensure compliance with this policy and relevant laws. Monitoring will be conducted in accordance with the Data Protection Act and GDPR.
        </p>

        <h3 class="mt-6 text-lg font-bold">11. Retention and archiving</h3>
        <p class="mt-4">
          Emails should be retained and archived in accordance with legal and regulatory requirements. Regularly review and delete unnecessary emails to maintain an organised inbox.
        </p>

        <h3 class="mt-6 text-lg font-bold">12. Reporting security incidents</h3>
        <p class="mt-4">
          All suspected security breaches or incidents should be reported immediately to the designated IT point of contact for investigation and resolution. Report any email-related security incidents or breaches to the IT administrator immediately. The Clerk, failing whom the Chairman, is the IT point of contact and the IT Administrator.
        </p>

        <h3 class="mt-6 text-lg font-bold">13. Training and awareness</h3>
        <p class="mt-4">
          Burton-cum-Walden Parish Council will, as appropriate, provide or fund regular training and resources to educate parish council users about IT security best practices, privacy concerns, and technology updates. All employees and councillors will receive regular training on email security and best practices.
        </p>

        <h3 class="mt-6 text-lg font-bold">14. Compliance and consequences</h3>
        <p class="mt-4">
          Breach of this IT and Email Policy may result in the suspension of IT privileges and further consequences as deemed appropriate.
        </p>

        <h3 class="mt-6 text-lg font-bold">15. Policy review</h3>
        <p class="mt-4">
          This policy will be reviewed annually to ensure its relevance and effectiveness. Updates may be made to address emerging technology trends and security measures.
        </p>

        <h3 class="mt-6 text-lg font-bold">16. Contacts</h3>
        <p class="mt-4">
          For IT-related enquiries or assistance, users can contact the Clerk.
        </p>

        <p class="mt-4">
          All staff and councillors are responsible for the safety and security of Burton-cum-Walden Parish Council's IT and email systems. By adhering to this IT and Email Policy, Burton-cum-Walden Parish Council aims to create a secure and efficient IT environment that supports its mission and goals.
        </p>

        <p class="mt-4">
          <span class="font-bold">Date:</span> 7 October 2026<br>
          <span class="font-bold">Signature:</span> Jane O. Ritchie<br>
          <span class="font-bold">Role:</span> Chairman
        </p>
      </div>
      <aside>
        <h2 class="text-xl font-bold text-left">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notices<a
              href="/documents/public_notices/public-notice-2025-05-06.pdf"
              target="_blank"
              class="hover:underline"><br />Parish Council Meeting, 7th October 2025</a
            >
          </li>
        </ul>
      </aside>
    </div>
  </main>
</DefaultLayout>
