---
import ParishCouncilLayout from '../layouts/ParishCouncilLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="Local Services">
  <Hero />
  <main class="container mx-auto px-6 py-10">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h1 class="text-xl font-bold">Local Services</h1>

        <p class="mt-4">
          Doctors<br />
          <span>
            The nearest GP Surgery, part of the Central Dales Practice, is in Aysgarth.<br />
            <a href="https://www.centraldalespractice.co.uk/" target="_blank" rel="noopener noreferrer">
              https://www.centraldalespractice.co.uk/
            </a><br />
            Tel:01969 663222
          </span>
        </p>
        <p class="mt-4">
          Support Services<br />
          <span>
            <a
              href="https://1drv.ms/p/s!ApTYBjrpXg5CnJVSUWxnEGtkJbYTcA?e=PFvzin"
              target="_blank"
              rel="noopener noreferrer">An introduction to support from A Good Life</a
            >.<br />
            <a href="https://upperdalesagoodlife.co.uk" target="_blank" rel="noopener noreferrer"> A Good Life </a><br
            />
            Tel:01969 667400
          </span>
        </p>
        <p class="mt-4">
          Schools<br />
          <a href="https://b-a-wb.com/" target="_blank" rel="noopener noreferrer"
            >Bainbridge, Askrigg and West Burton (BAWB) Federation of Primary Schools
          </a><br />
          Tel:01969 650331<br />
          <br />
          <a href="https://wensleydaleschool.net/" target="_blank" rel="noopener noreferrer">Wensleydale School</a>,
          Leyburn<br />
          Tel:01969 622244<br />
        </p>
        <p class="mt-4">
          Vets<br />
          <a href="https://bainbridgevets.co.uk/" target="_blank" rel="noopener noreferrer">Bainbridge Vets</a><br />
          Tel:01969 650263<br />

          <a
            href="https://www.vetcollection.co.uk/yorkshire-and-humber/yoredale-vets-masham/"
            target="_blank"
            rel="noopener noreferrer">Yoredale Vets</a
          >, Leyburn<br />
          Tel:01765689422<br />
          <a href="https://www.wensleydale-vets.com/" target="_blank" rel="noopener noreferrer">Wensleydale Vets</a>,
          Leyburn<br />
          Tel:01969 422201<br />
          <a href="https://www.vets4pets.com/" target="_blank" rel="noopener noreferrer">Vets4Pets</a>, Catterick
          Garrison<br />
          Tel:01748 876 070<br />
        </p>
        <p class="mt-4">
          Civic<br />
          <a href="https://www.yorkshiredales.org.uk/" target="_blank" rel="noopener noreferrer"
            >Yorkshire Dales National Park</a
          ><br />
          Tel:0300 456 0030
          <br />
          <a href="https://www.northyorks.gov.uk/" target="_blank" rel="noopener noreferrer">North Yorkshire Council</a
          ><br />
          Tel:0300 131 2131<br />
        </p>

        <p class="mt-4">
          Places of Worship<br />
          <a
            href="https://www.nydalesmeth.org.uk/about-us/churches-more/west-burton.html"
            target="_blank"
            rel="noopener noreferrer">West Burton Chapel</a
          ><br />
          Tel:01969 623818<br />
        </p>
        <p class="mt-4">
          Aysgarth Cemetery serves the Parishes of Aysgarth and District, Burton-cum-Walden and Carperby-cum-Thoresby.
          Burials of non-resident persons from outside of these areas can be arranged under certain circumstances.<br />
          Please contact the <a href="mailto:pipspatch@gmail.com">Clerk</a> to Aysgarth Cemetery Joint Management Committee,
          Pip Pointon<br />
          Tel:01969 663362<br />
        </p>
      </div>
      <aside>
        <h2 class="text-center text-xl font-bold">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notice<a href="/documents/public-notice-1-april-25.pdf" target="_blank" class="hover:underline"
              ><br />Parish Council Meeting, 1st April 2025</a
            >
          </li>
          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</ParishCouncilLayout>
