---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Visitor Information">
  <Hero />
  <main class="container mx-auto px-6 py-10">
    <section>
      <article>
        <p class="mb-4">
          Below is information of a range of businesses that can be found in West Burton or nearby which we hope you
          will find interesting. Do come and see for yourself – you will be very welcome.
        </p>
        <p class="mb-4 italic">
          If you are coming to see us, and to enjoy everything the area has to offer, we would be most grateful if you
          could park your vehicle in West Burton with great care. In particular, please avoid blocking entrances to
          drives and please do not park on the Village Green. Thank you for your help. For walkers in the area, please
          could we suggest that you take advantage of available space on the roadside verge below Cote Farm in South
          Walden as an alternative to parking in the village of West Burton.
        </p>
        <p class="mb-4 font-bold">SITUATED IN WEST BURTON AND THE SURROUNDING AREA</p>
        <p class="mb-4">
          <span class="mb-4 font-bold">The Old Smithy Antiques and Collectables</span>
          <br />
          <span class="mb-4 italic"
            >A country antique shop selling quality antiques and a range of more unusual items.</span
          >
        </p>
        <p class="mb-4">
          <span class="mb-4 font-bold">Hartle's Butchers</span>
          <br />
          <span class="mb-4 italic">A family run butcher's shop selling quality meats.</span>
        </p>
        <p class="mb-4">
          <span class="mb-4 font-bold">Fox and Hounds Inn</span>
          <br />
          <span class="mb-4 italic">A traditional pub serving home cooked meals and real ale.</span>
        </p>
        <p class="mb-4">
          <span class="mb-4 font-bold">Barn Studio Signs</span>
          <br />
          <span class="mb-4 italic">Handmade bespoke wooden signs for home, garden and life's special events.</span>
        </p>
        <p class="mb-4">
          <span class="mb-4 font-bold">HarryAdney Web Design</span>
          <br />
          <span class="mb-4 italic"
            >Website design, development and hosting on professional top grade and secure servers. Our business
            services, including social media management, photography, branding and logo & stationery design.</span
          >
          <br />
          <a href="https://harryadney.design" target="_blank">https://harryadney.design</a>
        </p>
        <p class="mb-4">
          <span class="mb-4 font-bold">Dales Music</span>
          <br />
          <span class="mb-4 italic"
            >The Wensleydale hills are alive with the sound of music! Whether you interest is in brass bands, orchestras
            or choral societies, you can find information on performance dates and venues, practice nights, etc. or the
            latest information on the Tournament of Speech and Song.</span
          >
          <br />
          Tel: 07817 711227
          <!-- <a href="http://www.dalesmusic.co.uk/" target="_blank">http://www.dalesmusic.co.uk/</a> -->
          <p class="mb-4">
            <span class="mb-4 font-bold">The Healing Collective</span>
            <br />
            <span class="mb-4 italic"
              >A range of complementary therapies with a holistic approach to health: shiatsu, reflexology, reiki,
              counselling and Back Remedies. Free "drop in" sessions on first Saturday of every month, 10.00 am – 4.00
              pm. Situated 3 miles from West Burton – mobile service available.</span
            >
            <br />
            <a href="http://www.healingcollective.co.uk/" target="_blank">http://www.healingcollective.co.uk/</a>
          </p>
          <p class="mb-4">
            <span class="mb-4 font-bold">Cauldron Falls</span>
            <br />
            <span class="mb-4 italic"
              >One of the prettiest waterfalls in Wensleydale, located in a secluded corner of the village.</span
            >
          </p>
          <p class="mb-4">
            <span class="mb-4 font-bold">Walking Country</span>
            <br />
            <span class="mb-4 italic"
              >West Burton forms the starting point for a number of walks to suit all levels of fitness.</span
            >
          </p>
          <p class="mb-4">
            <span class="mb-4 font-bold">HarryAdney Internet Services</span>
            <br />
            <span class="mb-4 italic"
              >Website design, development and hosting on professional top grade and secure servers. Our business
              services, including social media management, photography, branding and logo & stationery design.</span
            >
          </p>
          <p class="mb-4"></p>
        </p>
      </article>
    </section>
  </main>
</DefaultLayout>
