---
import ParishCouncilLayout from '../layouts/ParishCouncilLayout.astro'
import Hero from '../components/Hero.astro'
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
// import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<ParishCouncilLayout title="West Burton School">
  <Hero />
  <main class="container px-6 py-10 mx-auto">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="md:col-span-2">
        <h1 class="text-xl font-bold">West Burton School
        </h1>

        <p class="mt-4"><a href="/documents/250922 BAWB Consultation Doc FINAL.pdf" target="_blank">Consultation on the Future of West Burton School (PDF)</a></p>
        <p class="mt-4"><a href="/documents/Notice-of-Meetings.pdf" target="_blank">Notice of Meeting regarding Restructuring of the BAWB Federation (PDF)</a></p>

          <!-- <span>
            The nearest GP Surgery, part of the Central Dales Practice, is in Aysgarth.<br />
            <a href="https://www.centraldalespractice.co.uk/" target="_blank" rel="noopener noreferrer">
              https://www.centraldalespractice.co.uk/
            </a><br />
            Tel:01969 663222
          </span> -->

      </div>
      <aside>
        <h2 class="text-xl font-bold text-left">Latest News</h2>
        <ul class="mt-4 space-y-2 text-blue-600">
          <li>
            Public Notices<a
              href="#"
              target="_blank"
              class="hover:underline"><br /></a
            >
          </li>
          <!-- <li><a href="#" class="hover:underline">Parish Meetings</a></li>
          <li><a href="#" class="hover:underline">Wallace Education Fund</a></li>
          <li><a href="#" class="hover:underline">Deliveries to West Burton</a></li>
          <li><a href="#" class="hover:underline">May Fair, 28th May 2020 has been canceled</a></li> -->
        </ul>
      </aside>
    </div>
  </main>
</ParishCouncilLayout>
