---
// import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; Copyright {currentYear} Burton-cum-Walden Parish Council. All rights reserved. <a
          href="https://astro.build/">Astro</a
        >. <br />Website by <a href="https://harryadney.design" target="_blank">HarryAdney Web Design </a>.
      </p>
    </div>
  </section>
</footer>
