---
// import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer class="mt-6 border-t border-gray-300 bg-gray-100 pt-6">
  <div class="container mx-auto flex justify-between px-6">
    <div>
      <p class="mb-2 font-bold">CONTACT DETAILS</p>
      <!-- <p>Long Farthings, West Burton, Leyburn, North Yorkshire DL8 4JX</p>
      <p>+44 196 9663 551</p> -->
      <p>clerk@westburton-yorkshire.org.uk</p>
    </div>
    <div>
      <h3 class="mb-2 font-bold">LEGAL</h3>
      <p>
        <a class="text-blue-600" href="/gdpr"> GDPR and Privacy Policy </a>
      </p>
      <p>
        <a class="text-blue-600" href="/accessibility-statement"> Accessibility Statement </a>
      </p>
    </div>
  </div>
  <div class="mt-6 bg-[hsl(210,4.5%,17.3%)] py-4 text-center text-xs text-white">
    <p>
      &copy; Copyright {currentYear} Burton-cum-Walden Parish Council. All rights reserved. <br />Website by <a
        href="https://harryadney.design"
        target="_blank"
        >HarryAdney Web Design
      </a>.
    </p>
  </div>
</footer>
