---
// import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer class="pt-6 mt-6 bg-gray-100 border-t border-gray-300">
  <div class="container flex justify-between px-6 mx-auto dark:text-black">
    <div>
      <p class="mb-2 font-bold">CONTACT DETAILS</p>
      <!-- <p>Long Farthings, West Burton, Leyburn, North Yorkshire DL8 4JX</p>
      <p>+44 196 9663 551</p> -->
      <p><a href="mailto:clerk@burtoncumwalden-pc.gov.uk">clerk@burtoncumwalden-pc.gov.uk</a></p>
    </div>
    <div>
      <p class="mb-2 font-bold">LEGAL</p>
      <p>
        <a class="text-blue-600 dark:text-blue-900" href="/gdpr"> GDPR and Privacy Policy </a>
      </p>
      <p>
        <a class="text-blue-600 dark:text-blue-900" href="/accessibility-statement"> Accessibility Statement </a>
      </p>
    </div>
  </div>
  <div class="mt-6 bg-[hsl(210,4.5%,17.3%)] py-4 text-center text-xs text-white">
    <p>
      &copy; Copyright {currentYear} Burton-cum-Walden Parish Council. All rights reserved. <br />Website by <a
        href="https://harryadney.design"
        target="_blank"
        ><span class="text-white">HarryAdney Web Design</span>
      </a>.
    </p>
  </div>
  <!-- Not ready for production yet -->
  <!-- <script src="https://cdn.jsdelivr.net/gh/jerit-baiju/a11y-widget@latest/script.js"></script> -->
</footer>
