---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
// import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Parish Council</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/parish-council/">About the Council</a>
        </li>
        <li class="submenu-item">
          <a href="/council-team/">Council Team</a>
        </li>
        <li class="submenu-item">
          <a href="/meetings/">Meetings</a>
        </li>
        <li class="submenu-item">
          <a href="/minutes/">Minutes</a>
        </li>
        <li class="submenu-item">
          <a href="/newsletters/">Newsletters</a>
        </li>
        <li class="submenu-item">
          <a href="/emergency-plan/">Emergency Plan</a>
        </li>
        <li class="submenu-item">
          <a href="/annual-reports/">Annual Reports</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Resident Information</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/local-services/">Local Services</a>
        </li>
        <li class="submenu-item">
          <a href="/history-of-west-burton/">History of West Burton</a>
        </li>
        <li class="submenu-item">
          <a href="/upper-dales-health-watch">Upper Dales Health Watch</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Visitor Information</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">MDX Page</a>
        </li>
        <li class="submenu-item">
          <a href="/holiday-accommodation/">Holiday Accommodation</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
