---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
// import { Icon } from 'astro-icon/components'
---

<header class="border-b-2 bg-dark">
  <SkipLink />
  <div class="py-2">
    <Navigation>
      <li class="menu-item">
        <a href="/">Home</a>
      </li>
      <li class="menu-item has-dropdown">
        <button aria-haspopup="true" aria-expanded="false">Parish Council</button>
        <ul class="dropdown-menu">
          <li class="submenu-item">
            <a href="/parish-council/parish-council/">About the Council</a>
          </li>
          <li class="submenu-item">
            <a href="/parish-council/council-team/">Council Team</a>
          </li>
          <li class="submenu-item">
            <a href="/parish-council/meetings/">Meetings</a>
          </li>
          <li class="submenu-item">
            <a href="/parish-council/minutes/">Minutes</a>
          </li>
          <li class="submenu-item">
            <a href="/parish-council/newsletters/">Newsletters</a>
          </li>
          <li class="submenu-item">
            <a href="/parish-council/emergency-plan/">Emergency Plan</a>
          </li>
          <li class="submenu-item">
            <a href="/parish-council/annual-reports/">Annual Reports</a>
          </li>
        </ul>
      </li>
      <li class="menu-item has-dropdown">
        <button aria-haspopup="true" aria-expanded="false">Resident Information</button>
        <ul class="dropdown-menu">
          <li class="submenu-item">
            <a href="/local-services/">Local Services</a>
          </li>
          <li class="submenu-item">
            <a href="/history-of-west-burton/">History of West Burton</a>
          </li>
          <li class="submenu-item">
            <a href="/upper-dales-health-watch">Upper Dales Health Watch</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/visitor-information/">Visitor Information</a>
      </li>
    </Navigation>
  </div>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
