---
// import { Icon } from 'astro-icon/components'

const { src = '/village-green-767x350.webp' } = Astro.props
// Change this to a more appropriate image for the Parish Council
---

<section class="my-24 hero">
  <div class="container">
    <div class="grid items-center grid-cols-1 lg:grid-cols-1">
      <div class="flex flex-col items-center md:items-start">
        <h1 class="text-4xl text-center md:text-left">
          <!-- <slot>Meet your team!</slot> -->
        </h1>
      </div>
      <img
        class="hidden lg:block"
        src={src}
        alt="View of West Burton village green"
        width="1168"
        height="auto"
        decoding="async"
      />
    </div>
  </div>
</section>
<style lang="scss">
  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    -webkit-background-clip: text;
background-clip: border-box;
    -webkit-text-fill-color: transparent;
  }
</style>
